<label for="artist">Artist</label>
<input id="artist" type="text" placeholder="Artist">
<input type="button" id="add_artist" value="Add artist">
<input type="hidden" name="artist_names" id="artist_names">

 <ul id="artists_display"></ul>