<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="about">
      <h1>About GigNotes</h1>

      <h4>Quick Search</h4>
      <h5>Quick and easy, no need to sign up.  Find out about every musical act coming to town by simply entering your city into Quick Search. Need details about a specific show? You can also refine the search. </h5>

      <h4>GigNotes Member Benefits</h4>
      <h5>Stay on top of all shows from the artists most important to you with hardly any effort.  All artists you add will be saved to your profile.</h5>
      <h5>GigNotes will send a monthly email letting you know of the upcoming shows of your favourites bands.  Make sure you don't miss a show: just keep adding bands as you find out about them.</h5>
      </div>
  </div> <!-- col close -->
</div> <!-- row close -->

<footer>Copyright &copy; Corinne Brady 2013</footer>
