<div class="page_container">

  <h1>Quick Search</h1>


  <%= form_tag pages_show_all_qs_path do  %>

    <%= text_field_tag :location, nil, :required => true, :placeholder => 'City' %>

    <br>
    <br>

    <%= render :partial => 'artists/artist_form' %>

    <%= submit_tag 'Get Events', :class => 'get_event_button' %>

  <% end %>

</div>
