<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Gig Notes</h1>

    <h3>Your Upcoming Gigs:</h3>
@user.events
<!--     <p>To login to the site, just follow this link: < %= @url %>.</p>
 -->
    <h5>Rock on!</h5>
  </body>
</html>


